
#imginp{
    display: flex;
    gap: 10px;
}
.loginbtn{
    background-color: blue;
    line-height: auto;
    width: 200px;
    border-radius: 5%;
}
.signbtn{
    background-color: red;
    line-height: auto;
    width: 200px;
    border-radius: 5%;
}
img{
    border: none;
    border-radius: 40px;
}
form{
    padding: 30%;
    padding-left: 50px;
    background-color: aquamarine;
    border: none;
    border-radius: 50%;
}
.input{
    height: 25px;
}